body {
    background-color: #091216;
    background-image: url("https://github.com/Philip-Otter/pbandt.github.io/blob/main/Globals/Images/1735868666860.jpg");
    background-repeat: repeat;
    background-position: bottom;
}
