body {
  background-image: url("/pbandt.github.io/assets/images/1735868666860.jpg");
  background-repeat: repeat;
  background-position: bottom;
  color: #18c62f;
}
img {
  width: 100%;
  max-width: 80vw;
}
