body {
  background-image: url("/pbandt.github.io/assets/images/1735868666860.jpg");
  background-repeat: repeat;
  background-position: bottom;
}
div.readBox {
  margin: 30px;
  background-color: #1c1c1c;
  opacity: 0.6;
}
