body {
  background-image: url("/pbandt.github.io/assets/images/1735868666860.jpg");
  background-repeat: repeat;
  background-position: bottom;
  color: #18c62f;
}
div.readBox {
  margin: 5vw;
  background-color: #080808;
  opacity: 0.6;
}
